<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<title>Cartas</title>
		<link rel="stylesheet" href="css/estilo.css" type="text/css" />
	</head>
	<body>
	<nav>
			<section class="nav-container">
				<aside class="logo"><a href = "/"><img src="imagenes/HSDECKS.png" width="200" height="40" alt= "MyCompany Logo"/></a>
				</aside>
				<aside class="menu">
					<div class="menu-content">
						
						<input type="text" placeholder="busqueda" name="busqueda"> 
						<input type="submit" value="Buscar"> 
							{{#sinsesion}}
							<a href="login"><button style="color:black;">Login </button></a> 
							<a href="#">|</a>
							<a href="registrarse.html"> <button style="color:black;">Register</button></a>
							{{/sinsesion}}
							{{#sesion}}
							<a href="index"> <button style="color:black;">Cerrar Sesion</button></a>
							<a href="#">|</a>
							<a>{{nick}}</a>
							{{/sesion}}
						
					</div>
				</aside>
				</section>
				<section>
				<aside class="menu2">
					<div class="menu2-content">
						
						<a href="mazo" target="_blank">Mazos</a>
						<a href="carta" target="_blank">Cartas</a>
						<a href="notici" target="_blank">Noticias</a>
						<a href="anunci" target="_blank">Anuncios</a>
						<a href="reglas" target="_blank">Reglamento</a>
						
						
					</div>
				</aside>
			</section>
			<section class="pagina">
				<a href="nuevaCarta.html"><br><button style="color:black;">Nueva carta</button></a>
				<br><br>
					{{#carta}}
					<div style="border-style:hidden; border-color:#D8D8D8;height:300px">
					<img src="{{imagen}}" style="border-style:ridge; border-color:#D8D8D8; float:left; width:175px; height:240px">
					 <h2>{{nombre}}</h2>		
						&nbsp;<b> TipoCarta:</b> {{tipoCarta}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b>Ataque:</b> {{ataque}}<br>
					    <br>&nbsp;<b> Clase:</b> {{clase}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b>Efecto:</b> {{efecto}}<br>
					    <br>&nbsp;<b> Expansion:</b> {{expansion}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <b>Vida:</b> {{vida}}<br>
					    <br>&nbsp;<b> Rareza:</b> {{rareza}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <b>Coste:</b> {{coste}}<br>
					
					<br><br><br>
					</div>
					<br>
					{{/carta}}
				
			</section>
			</nav>
			
	</body>
</html>