<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<title>HearthstoneDecks</title>
		<link rel="stylesheet" href="css/estilo.css" type="text/css" />
	</head>
	<body>
	<nav>
			<section class="nav-container">
				<aside class="logo"><a href = "/"><img src="imagenes/HSDECKS.png" width="200" height="40" alt= "MyCompany Logo"/></a>
				</aside>
				<aside class="menu">
					<div class="menu-content">
						
						<input type="text" placeholder="busqueda" name="busqueda"> 
						<input type="submit" value="Buscar"> 
							{{#sinsesion}}
							<a href="/login"><button style="color:black;">Login </button></a> 
							<a href="#">|</a>
							<a href="registrarse.html"> <button style="color:black;">Register</button></a>
							{{/sinsesion}}
							{{#sesion}}
							<a href="/deslogueo"> <button style="color:black;">Cerrar Sesion </button></a>
							<a href="#">|</a>
							<a> {{nick}}</a>
							{{/sesion}}
					</div>
				</aside>
				</section>
				<section>
				<aside class="menu2">
					<div class="menu2-content">
						
						<a href="mazo" target="_blank">Mazos</a>
						<a href="carta" target="_blank">Cartas</a>
						<a href="notici" target="_blank">Noticias</a>
						<a href="anunci" target="_blank">Anuncios</a>
						<a href="reglas" target="_blank">Reglamento</a>
						
						
					</div>
				</aside>
			</section>
			
			<div class="container" >
					<section class="primary-content" role="main">
									<ul class="listing listing-post post-listing">
										
													<div>
														<p> 
														
														<div class="tituloNOT">
															<p>{{#noindex}}
															<h2>{{titulo}}<br></h2>
															<p>{{contenido}}</p>
															
																<br>{{fecha}}
															
																<p> </p><br><br>{{/noindex}}
															</p>
														</div>
														</p>
													</div>
									</ul>
					</section>
				
			</div>
			
			
			<div class="container-anuncios">
				<section class="anun" role="main">
					<u1 class="listing">
								<div class="tituloANUN">
									<h2>Anuncios</h2>
									<p>{{#anunindex}}
										<h3>{{titulo}}<br></h3>
										<p>{{contenido}}</p>
															
										<br>{{fechaAnuncio}}
															
										<p> </p><br><br>{{/anunindex}}
										</p>
								</div>
					</u1>
				</section>
			</div>
	</nav>
	</body>
</html>