<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<title>PublicarNoticia</title>
	<link rel="stylesheet" href="css/sRegister.css">
	</head>
	
	<body>
	<h1><br></h1>
		<form action="/publicarN" method="post" class="form_register">
		<h2 class="form_titulo">NUEVA NOTICIA</h2>	
		<div class="contenedor-inputs">
		    <div>
		        <input placeholder="Titulo" maxlength="30" type="text"  id="titulo" name="titulo" required>
		    </div>
		    <p></p>
		    <div>
		        
		        <input placeholder="Mensaje" type="text" id="contenido" name="contenido" required>
		    </div>
		    <p></p>
		    <div>
		    	
		    	<input placeholder="Fecha de la Noticia" maxlength="20" type="text" id="fechaNoticia" name="fechaNoticia" required>
		    </div>
		    	<input type="hidden" name="_csrf" value="{{token}}"/>
		   <input type="submit" value="Publicar" required class="btn_enviar">
		    </div>
		</form>
	</body>
</html>